@charset:utf-8;

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #fff;
}

.header{
	background-color: #181818;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.logo{
	justify-content: flex-start;
	color: #fff;
}

.gnb{
	justify-content: flex-end;
	line-height: 80px;
	margin-right: 10px
}

.landing{
	color: #fff;
	height: 100vh;
	background-image: url(img3.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.landing-title{
	text-decoration: underline;
	font-size: 36px;
}
.landing-btn{
	background-color: orange;
	padding: 20px;
	border-radius: 100px
}

.landing-para{
	width: 500px;
	font-size: 24px;
}