@charset "utf-8";
*,
*::before::,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width:960px;
	margin: 0 auto;
}

.header{
	height: 80px;
	line-height: 80px; /*글씨 위아래로 정렬	*/
	overflow: hidden;
}

	
.Home{
	float: left;
}

.landing>.container{
	padding-top: 20px; 
}
.menu{	
	float: right;
}
.landing{
	height: 600px;
	background-image: url(http://korean.visitseoul.net/comm/getImage?srvcId=MEDIA&parentSn=14712&fileTy=MEDIA&fileNo=1&thumbTy=L);
	background-size: cover;
}
.section-title{
	font-size: 50px;
	margin-bottom: center;
}
.landing h2, landing p{
	text-align: center;
}
.blog::after{					/*clearfix 부분이라 생각*/
	content: '';
	display: block;
	clear: both;
}
li {
	list-style: none;
}
.blog article {
	float:left;
	width: 300px;
	margin-right: 20px;
}
.blog article img{
	width:100%;
	height: auto;
}
.blog{
	padding: 100px 0;
}
footer{
	background-color: #181818;
	height: 100px;
	color: #fff;
	text-align: center;
	line-height: 100px;
}

ul.gnb>li{
	float: left;
	margin-left: 15px;
}

ul.gnb>li>a{
	text-decoration: none;
	color: #181818;
}